body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Familjen Grotesk', sans-serif;
}

* {
    box-sizing: border-box;
}

/* PAGE CSS SECTION */
/* header styles */
header {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 10;
    align-items: center;

    animation: transition-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 150px;
}
#header-img {
    height: 100%;
    width: auto;
    margin-left: 15px;
}
#header-img img {
    height: 100%;
    width: auto;
}
#header-links {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    color: #D94395;
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 15px;
    gap: 15px;
    font-weight: bold;
    font-size: 16px
}
@keyframes transition-header {
    to {
        background-color: #1F0326;
        backdrop-filter: blur(5px);
    }
}

/* first section */
#our-mission-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
}
#mission-background {
    background-image: url(./images/background3.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    width: 100%;
    height: 100%;
    z-index: -1;
}


#our-mission {
    height: 540px;
    width: 100%;
    margin: 0;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 40% 60%;
}

#mission-text {
    width: 100%;
    height: 100%;
    color: #510E59;
    display: flex;
    align-items: center;
}
#mission-text-box {
    background-color: #fce058;
    width: 100%;
    height: auto;
    margin-left: 20px;
    border-radius: 15px;
    padding: 10px;
    z-index: 2;
}
#mission-element {
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}
#mission-element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#mission-text h1 {
    margin: 0;
    font-size: 60px;
    line-height: 50px;
    margin-top: 10px;
}
#mission-text h3 {
    font-family: 'Ysabeau SC', sans-serif;
    margin: 0;
    margin-top: 25px;
    margin-bottom: -10px;
}
#mission-text p {
    margin: 8px 0px 25px;
}


/* This is the second section */
#portfolio {
    width: 100%;
    height: auto;
    padding: 80px 30px 40px 30px;
    background-image: linear-gradient(#efeaf1, #ebceff);
}
#portfolio h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 800;
    margin-top: 0;
    color: #db145d;
    margin-bottom: 8px;
}
#portfolio-description {
    margin-top: 0;
    padding-top: 4px;
    border-top: 1px solid #db145d;
}
#portfolio-cards {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(
        auto-fill, 
        minmax(250px, 1fr)
        );
    gap: 30px;
    justify-content: center;
    padding-top: 25px;
}
.card {
    display: grid;
    grid-template-rows: 150px 1fr 35px;
    border-radius: 20px;
    background-color: #ff91ae;
    color: #1F0326;
    padding-bottom: 10px;
    padding: 15px 10px;
    padding-top: 10px;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.card-text h2 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 15px;
}
.card button {
    width: 50%;
    justify-self: center;
    border-radius: 10px;
    font-family: 'Familjen Grotesk', sans-serif;
    font-weight: 900;
}
.card button:hover {
    cursor: pointer;
}


/* This is the third section*/
#work-with-us {
    padding-top: 60px;
    width: 100%;
    height: auto;
}

/* This is the third section part I */
#work-description {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
    padding: 0 15px 20px 15px;
}
#work-description-img {
    grid-column: 1 / span 5;
    grid-row: 1 / span 6;
}
#work-description-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#work-description-text {
    width: 100%;
    height: 100%;
    grid-column: 4 / span 3;
    grid-row: 2 / span 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: pink;
    padding: 10px 13px;
    border-radius: 15px;
    gap: 15px;
}
#work-description-text h1 {
    font-size: 50px;
    margin: 0;
    line-height: 40px;
}
#work-description-text p {
    margin: 0;
}
#work-description-text button {
    height: 30px;
    width: 60%;
    border-radius: 10px;
}
#work-description-text button:hover {
    cursor: pointer;
}

/* This is the third section part II - main styles*/
#work-features {
    width: 100%;
    height: auto;
    padding: 25px 20px;
    background-color: rgb(252, 90, 158);
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    gap: 20px;
}

/* This is the first subpart of the third section II (facilities) */
#work-features-spots {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: 1 / span 1;
}
#work-features-spots h1 {
    margin: 0;
    font-size: 50px;
}
#work-features-spots img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
#images-on-mobile {
    display: none;
}
#work-features-spots button {
    height: 4%;
    width: 50%;
    border-radius: 10px;
    justify-self: end;
    align-self: center;
}

/* This is the middle subpart of the the third section II (the divisor line) */
#work-features-line {
    width: 100%;
    height: 100%;
    grid-column: 2 / span 1;
    background-color: white;
}

/* This is the final subpart of the third section II (employees) */
#work-features-employees {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#work-features-employees h2 {
    margin: 0;
    font-size: 30px;
    text-align: end;
    line-height: 30px;
}

#container-employee-cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
}
.line-card {
    width: 100%;
    height: 1px;
    background-color: white;
}
.employee-card {
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 15px;
    padding: 0 12px;
}
.card-first {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}
.employee-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.employee-card h3 {
    font-size: 20px;
    margin: 0;
}
.card-second {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}
.employee-card p {
    margin: 0;
}
.card-second button {
    width: 70%;
    border-radius: 5px;
    align-self: end;
}

/* This is the third section III  */
#work-apply-now {
    width: 100%;
    height: auto;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/apply.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#apply-now {
    width: 60%;
    background-color:rgba(252, 90, 158, 0.8);
    padding: 10px;
    border-radius: 10px;
    color: white;
}
#apply-now h1 {
    margin: 0;
    text-align: center;
    font-size: 40px;
}
#apply-now p {
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 16px;
}
#apply-now label {
    display: block;
    margin: 10px 0;
}
#apply-now input, #apply-now select {
    margin: 10px 0 0 0;
    width: 100%;
    border-radius: 5px;
    padding: 2px;
}
#apply-now input, select {
    background-color: #510E59;
    color: white;
}
#apply-now input[type="submit"] {
    display: block;
    width: 45%;
    height: 30px;
    font-size: 15px;
    margin: 25px auto 5px auto;
}

/* This is the footer */
footer {
    width: 100%;
    min-height: auto;
    padding: 20px 0;
    background-color: #1F0326;
    display: flex;
}
#author-name {
    width: 50%;
    height: 100%;
    padding: 25px 0 25px 25px;
    color:rgb(252, 90, 158);
}
#author-name h3 {
    margin: 0;
}
#author-links {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    gap: 13px;
    padding: 25px 35px 25px 0;
    font-size: 28px;
    color:rgb(252, 90, 158);
}
.fa-facebook, .fa-github {
    color:rgb(252, 90, 158);
}

/* SECTION OF @MEDIA */
/* @media for smaller sizes */
@media only screen and (max-width: 575px ) {
    #header-links {
        font-size: 14px;
        gap: 10px;
        margin-right: 10px;
    }
    #header-img {
        height: 85%;
        margin-left: 10px;
    }
    #mission-text h1 {
        font-size: 50px
    }
    .employee-card p {
        font-size: 14px;
    }
    #work-features-spots h1 {
        font-size: 40px;
    }
    #work-features-employees h2 {
        font-size: 25px;
        line-height: 25px;
    }
    #work-features-spots img {
        height: 40%;
    }
    #author-name {
        font-size: 15px;
    }
    #author-links {
        font-size: 24px;
    }
}
@media only screen and (max-width: 530px ) {
    #mission-text h1 {
        font-size: 45px;
        line-height: 45px;
    }
    #work-features {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    #work-features-spots h1 {
        text-align: center;
    }
    .spots-img {
        display: none;
    }
    #images-on-mobile {
        display: block;
        width: 100%;
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
    #images-on-mobile img {
        object-fit: cover;
        object-position: center;
        width: 50%;
        height: auto;
    }
    #work-features-spots button {
        height: 20%;
        border-radius: 10px;
    }
    #work-features-line {
        width: 100%;
        height: 2px;
    }
    #work-features-employees h2 {
        text-align: center;
    }
    .employee-card {
        width: 100%;
        padding: 0;
    }
    .employee-card p {
        font-size: 18px;
    }
    .card-second button {
        height: 15%;
        border-radius: 15px; 
    }
    #apply-now p {
        margin: 0 0 20px 0;
    }
    #apply-now label {
        font-size: 14px;
    }
    footer {
        padding: 15px 0;
    }
    #author-name {
        font-size: 14px;
    }
    #author-links {
        font-size: 22px;
    }
}
@media only screen and (max-width: 480px ) {
    #header-links {
        font-size: 13px;
        gap: 10px;
        margin-right: 5px;
    }
    #header-img {
        height: 70%;
        margin-left: 5px;
    }
    #mission-text h1 {
        font-size: 40px;
        line-height: 40px;
    }
    #mission-text {
        font-size: 14px
    }
    #mission-text {
        font-size: 15px
    }
    .card-text p {
        font-size: 15px;
    }
    #portfolio h1 {
        font-size: 50px;
    }
    .employee-card p {
        font-size: 16px;
    }
    .employee-card img {
        width: 85%;
    }
    #work-features-spots h1 {
        font-size: 40px;
    }
    #apply-now h1 {
        margin: 0;
        text-align: center;
        font-size: 35px;
    }
    #apply-now p {
        font-size: 15px;
        margin: 0 0 13px 0;
    }
    #apply-now input[type="submit"] {
        height: 28px;
        font-size: 14px;
        margin: 25px auto 5px auto;
    }
    footer {
        flex-direction: column;
        gap: 15px;
        padding: 20px 0;
    }
    #author-name {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    #author-links {
        width: 100%;
        padding: 0;
        justify-content: center;
        font-size: 26px;
        gap: 13px;
    }
}

@media only screen and (max-width: 410px ) {
    #header-links {
        font-size: 13px;
        gap: 10px;
        margin-right: 5px;
    }
    #header-img {
        height: 60%;
        margin-left: 5px;
    }
    #mission-text h1 {
        font-size: 35px;
        line-height: 35px;
    }
    .employee-card p {
        font-size: 14px;
    }
    .employee-card img {
        width: 75%;
    }
    .employee-card h3 {
        font-size: 16px;
    }
    .card-second button {
        height: 20%;
    }
    #apply-now h1 {
        font-size: 30px;
    }
    #apply-now p {
        font-size: 14px;
    }
    #apply-now input[type="submit"] {
        margin: 20px auto 5px auto;
    }
    footer {
        padding: 30px 0;
    }
    #author-links {
        font-size: 24px;
    }
}
@media only screen and (max-width: 385px ) {
    #header-links {
        font-size: 13px;
        gap: 10px;
        margin-right: 5px;
    }
    #header-img {
        height: 50%;
        margin-left: 5px;
    }
    #mission-text h1 {
        font-size: 30px;
        line-height: 30px;
    }
    #mission-text {
        font-size: 13px
    }
    #work-description-text {
        gap: 8px;
    }
    #work-description-text h1 {
        font-size: 40px;
        line-height: 35px;
    }
    #work-description-text p {
        font-size: 14px;
    }
    #work-description-text button {
        height: 20%;
        width: 100%;
        border-radius: 10px;
    }
    #work-features-spots h1 {
        font-size: 35px;
    }
}
@media only screen and (max-width: 365px ) {
    #header-links {
        font-size: 10px;
        gap: 10px;
        margin-right: 5px;
    }
    #header-img {
        height: 45%;
        margin-left: 5px;
    }
    #mission-text h1 {
        font-size: 23px;
        line-height: 25px;
    }
    #mission-text {
        font-size: 12px
    }
    #portfolio h1 {
        font-size: 45px;
    }
    #work-description-text h1 {
        font-size: 30px;
        line-height: 35px;
    }
    #work-description-text p {
        font-size: 13px;
    }
    .card-text p {
        font-size: 14px;
    }
    .card-second button {
        height: 25%;
    }
}


/* @media for bigger sizes */
@media only screen and (min-width: 800px ) {
    #header-links {
        font-size: 18px
    }
    #work-description-text {
        grid-column: 5 / span 3;
        padding: 13px 20px;
    }
    #work-description-text button {
        font-size: 16px;
    }
    #work-features-spots img {
        height: 35%;
    }
    #apply-now input[type="submit"] {
        margin: 30px auto 5px auto;
    }
    footer {
        padding: 40px 35px 40px 25px;
    }
    #author-name {
        padding: 0;
    }
    #author-links {
        font-size: 35px;
        padding: 0;
    }
}
@media only screen and (min-width: 900px) {
    .card-second button {
        width: 60%;
        height: 26px;
        border-radius: 8px;
        font-size: 14px;
    }
    #work-features-spots button {
        height: 30px;
        width: 45%;
        border-radius: 10px;
        font-size: 16px;
    }
    #apply-now {
        width: 50%;
    }
    #apply-now label {
        margin: 15px 0;
    }
    #apply-now input[type="submit"] {
        margin: 35px auto 5px auto;
    }
    footer {
        padding: 50px 35px 50px 25px;
    }
    #author-name {
        font-size: 18px;
    }
}
@media only screen and (min-width: 1024px ) {
    header {
        height: 90px;
    }
    #header-links {
        font-size: 20px;
        margin-right: 20px;
        gap: 20px
    }
    #header-img {
        margin-left: 20px;
    }
    #our-mission-background {
        height: 630px;
    }
    #mission-background {
        height: 100%
    }
    #our-mission {
        height: 625px;
        padding-top: 90px;
    }
    #work-description-text {
        padding: 15px 20px;
        grid-row: 3 / span 2;
    }
    #work-features-spots img {
        height: 30%;
    }
    #work-features-employees {
        gap: 20px;
    }
    .employee-card h3 {
        font-size: 24px;
    }
    .employee-card p {
        font-size: 18px;
    }
    #apply-now {
        width: 40%;
    }
    #apply-now h1 {
        font-size: 50px;
    }
    #apply-now p {
        font-size: 18px;
    }
    #apply-now label {
        font-size: 18px;
    }
    #apply-now input, #apply-now select {
        height: 25px;
    }
    #apply-now input[type="submit"] {
        height: 35px;
        font-size: 17px;
        margin: 40px auto 5px auto;
    }
    footer {
        padding: 50px 45px 50px 35px;
    }
    #author-name {
        font-size: 20px;
    }
}

